* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: azure;
}

header {
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: gold;
    color: crimson;
    text-align: center;
}

h1 {
    line-height: 1.5;
    font-size: 48px;
}

h2,
h3,
h4 {
    margin-bottom: 25px;
    font-size: 36px;
}

p {
    font-size: 16px;
}

nav {
    list-style-type: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    float: none;
    font-family: Impact;
    font-size: 25px;
    text-align: center;
    background-color: crimson;
}

ul,
li {
    padding-left: 20px;
    padding-right: 20px;
    font-family: inherit;
    display: inline-block;
}

a:link,
a:visited {
    text-decoration: none;
    color: azure;
}

a:hover {
    background-color: crimson;
}

a:active {
    text-decoration: line-through;
    text-decoration-color: crimson;
}

#rj {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(../RichardKessler.github.io/images/Niagra\ Falls.jpg);
    background-size: cover;
    background-position: center;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

aside {
    margin-right: 20px;
    float: right;
    width: 20%;
    height: 100%;
    font-family: fantasy;
    background-color: crimson;
}

#about-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: inherit;
    background-color: crimson;
    color: azure;
}

#about-me img {
    max-width: 300px;
}

#hobbies {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: inherit;
    background-color: gold;
    color: crimson;
}

#hobbies img {
    max-width: 300px;
}

#social-media {
    padding: 50px;
    color: azure;
}

#social-media img {
    padding-bottom: 10px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}